@font-face {
    font-family: ProximaNovaSemibold;
    src: url(fonts/ProximaNova-Sbold-webfont.woff);
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url(fonts/ProximaNova-Reg-webfont.woff);
}

@font-face {
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light-webfont.woff);
}

body {
  margin: 0;
  padding: 0;
  background-color: #333;
}

.screen {
  display: inline-block;
  width: 320px;
  height: 528px;
  background-color: #fff;
  
  margin: 32px;
}

.title-2 {
  font-family: ProximaNovaLight;
  font-size: 24px;
}